pipeline/Copy Fixture Stats.json
{
	"name": "Copy Fixture Stats",
	"properties": {
		"activities": [
			{
				"name": "Copy FCB fixtures",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010"
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_api_football",
						"type": "DatasetReference",
						"parameters": {
							"relativeUrl": "fixtures?season=2022&league=140&team=529"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_raw",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "fixtures"
						}
					}
				]
			},
			{
				"name": "ForEach Fixture",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Copy FCB fixtures",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Copy FCB fixtures').output.response[0].fixture",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait1",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			}
		],
		"variables": {
			"fixture_id": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-06-05T15:46:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}