pipeline/Fixture LineUps Full Load.json
{
	"name": "Fixture LineUps Full Load",
	"properties": {
		"activities": [
			{
				"name": "ForEach Fixture",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Fixtures",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Fixtures').output.firstRow.response",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set var Fixture id",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "fixture_id",
								"value": {
									"value": "@string(item().fixture.id)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy Fixture LineUps",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set var Fixture id",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_api_football",
									"type": "DatasetReference",
									"parameters": {
										"relativeUrl": {
											"value": "@concat('fixtures/lineups?fixture=', variables('fixture_id'))",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_raw_lineup",
									"type": "DatasetReference",
									"parameters": {
										"fixture_filename": {
											"value": "@variables('fixture_id')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup Fixtures",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Delete LineUp Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_raw",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "fixtures"
						}
					}
				}
			},
			{
				"name": "Delete LineUp Files",
				"type": "Delete",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_raw_lineup",
						"type": "DatasetReference",
						"parameters": {
							"fixture_filename": "*.*"
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"variables": {
			"fixture_id": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-06-07T12:02:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}